version: "3.1"
services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DATABASE: parking_lot
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
